@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen&display=swap');

body {
   background-color: cadetblue;
}
h1 {
    border-bottom: 1px solid;
}
a {
    color: aliceblue;
}
img {
    display: block;
}

/* NAVBAR STYLES */
nav {
    font-family: 'Abel';
    font-size: 1.5em;
    background-color: aliceblue;
}
nav ol {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color: cadetblue;
    text-decoration: none;
}
nav a:hover {
    color: darkgreen;
}

/* WELCOME STYLES */
#welcome-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 0.7em;
    min-height:  height: 100vh;
}
#my_pic img {
    height: 100%;
    width: 100%;
}
.section-text {
    color: azure;
    padding-left: 5px;
    font-family: "Oxygen";
}

/* PROFESSION STYLES */
#pro_text {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* PROJECTS STYLES */
#sudoku_container, #shell_container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
#sudoku img {
    width: 65%;
}
#sudoku_container ul, #shell_container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#shell_container img {
    width: 70%;
}

@media screen and (max-width: 785px) {
    #welcome-section {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #pro_text {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #sudoku_container, #shell_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #sudoku_container ul, #shell_container ul {
        display: grid;
    }
    #sudoku img {
        width: 100%;
    }
    #shell_container img {
        width: 100%;
    }
    
}
